.Error {
    color: #FF4500;
    text-align: center;
}

.Loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
}

.List {
    display: block;
    padding-left: 7.8125vw;
    padding-right: 7.8125vw
}

.PostItem-container {
    display: flex;
    padding: 16px;
    margin: 8px;
    border-radius: 8px;
    background-color:  #1A1A1BCC;
    border: 1px solid #343536;
}

.Content-container {
    width: 100%;
}

.Content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header-text {
    display: flex;
    flex-direction: column;
}

.Author {
    font-size: 12px;
}

.Title {
    white-space: pre-wrap;
    font-weight: 700;
}

.Link {
    color: inherit;
    text-decoration: none;
}

.Text {
    white-space: pre-wrap;
    text-align: justify;
    word-wrap: break-word;
}

.Image-container {
    width: 33.33333333333333vw;
    height: auto;
    border-radius: 4px;
    margin: 8px;
}

.Thumbnail-container {
    display: flex;
    height: 5.104166666666667vw;
    width: 7.187499999999999vw;
    border-radius: 4px;
    margin-left: 24px;
}

.ImageThumb {
    width: 7.187499999999999vw;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Image {
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}