.Search-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Logo {
    display: flex;
    max-width: 400px;
    width: 100%;
    height: 158px
}

.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: #030303;
} 

.Input-container {
    margin-bottom: 24px;
    max-width: 594px;
    width: 100%;
    display: flex;
}

.Form {
    display: flex;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.Posts-conatiner {
    width: 100%;
    height: 100%;
    padding-top: 250px;
    padding-bottom: 40px;
}